<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="paper-detail-sit">
  <template>
    <style>
      :root {
        /* Global */
        --font-family-detail: roboto;
        /* Title */
        --margin-left-title: 1rem;
        --font-size-title: 19px;
        --color-title: #01579B;
        /* Description */
        --color-description: #424242;
        --font-size-description: 14px;
        --margin-left-description: 1rem;
        --text-align-description: justify;
        /* Apply */
        --title-styles:{
          color: var(--color-title);
          margin-left: var(--margin-left-title);
          font-size: var(--font-size-title);
          font-family: var(--font-family-detail);
        };
        --description-styles:{
          font-size: var(--font-size-description);
          margin-left: var(--margin-left-description);
          text-align: var(--text-align-description);
          font-family: var(--font-family-detail);
        };
      }
      .title{
        @apply --title-styles;
        
      }
      .description{
        @apply --description-styles;
      }
    </style>
    
    <div class="main">
      <template is="dom-if" if="[[title]]">
        <div class="title">
          <p>[[title]]</p>
        </div>
      </template>
      <template is="dom-if" if="[[description]]">
        <div class="description">
          <p>[[description]]</p>
        </div>
      </template>
    </div>
    
  </template>

  <script>
    class PaperDetailSit extends Polymer.Element {
      static get is() { return 'paper-detail-sit'; }
      static get properties() {
        return {
          title: {
            type: String
          },
          description: {
            type: String
          }
        };
      }
    }

    window.customElements.define(PaperDetailSit.is, PaperDetailSit);
  </script>
</dom-module>
